<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>

    <table>
        <th>
            <td>Id</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email adress</td>
            <td>Phone number</td>
            <td>Member since</td>
        </th>

    </table>
</body>
</html>