<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Backoffice | Home</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="w-2/3 m-auto py-5">
    <h1 class="text-2xl text-end">Welcome to the e-commerce app back office</h1>
    
    <% if (user) { %>
        <p>Logged in as <%= user.username %></p>
        <a href="/logout">Logout</a>
    <% } else { %>
        <p>Login or create an account in order to access the site's functionnality and manage the database.</p>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
</body>
</html>